.anony {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(174, 183, 226);
  transition: all 250ms ease-in;
  background-color: rgb(50, 55, 59);
}

/* ----------------- Methods  ----------------- */
/* ----------------- LifeCycle  ----------------- */
/* ----------------- Redner  ----------------- */

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
